.game{
    background-color: white;
    padding: 25px 50px;
    height: fit-content;
    margin-top: 80px;
    border: 3px solid #49118d;
    border-radius: 10px;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.212);
    
}

.points {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 25px;
    border: 3px solid #49118d;
    width: 200px;
    color: #49118d;
    font-size: 20px;
    margin-top: -50px;
    position: absolute;

}

.points span {
    font-weight: bold;
    text-decoration: underline;
}

.tip {
    margin-top: 10px;
}

.tip span {
    text-decoration: underline;
}

.game h1 {
    margin-top: 20px;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #49118d;
    display: flex;
  
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    
}

.guess {
    margin-top: 15px;
}

.wrongLettersContainer {
    margin-top: 20px;
    font-size: large;
}
